<div class="container">
    <%= image_tag "hacker-with-laptop-995d0522a76be4db44a05bf7de61641e.webp", height: 225 %>
  <div class="row">
    <div class="col-12">
      <div class="card-1">
        <h1> Hidden in plain sight</h1>
          <h3>Puzzle one</h3>
            <p>In the realm of code and shadowed lore,
            A page conceals secrets, but there is more.
            With elements hidden, instructions abide,
            To reveal their wisdom, let skill be your guide.
            Explore the shadows, where styles may reside,
            A web of elements, where secrets coincide.
            Find the veil, with styles discreet,
            Remove its shroud, the instructions to meet.
            </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag "look-at-the-css-9b1c889796a876e0748c9461e2a403bc.webp", height: 225 %>
  <div class="row">
    <div class="col-12">
      <div class="card-2">
        <h1> Linguistics </h1>
          <h3>Puzzle two</h3>
            <p>An answer to a question, you seek to share,
                Of a thing of beauty we hold so dear.
                The tool of trade you will use
                To find the answer to this riddle's clues.
                What language am I?
                </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag "tailwind-a7a063e8f9d179fbd72b0b735c5797b7.jpg", height: 225 %>

  <div class="row">
    <div class="col-12">
      <div class="card-3">
        <h1> Beauty and elegance </h1>
          <h3>Puzzle three</h3>
            <p>There are many ways to skin a website. Aesthetics mean everything.
              We will need to see your skills in this area.
              Now go make your application look pretty
              (if it doesn't already).
                </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag "clouds-9d5decacc6b6dd7a3f17cfe126e82fc8.webp", height: 225 %>

  <div class="row">
    <div class="col-12">
      <div class="card-4">
        <h1> A cloud of mystery </h1>
          <h3>Puzzle four</h3>
            <p>In the kingdom of clouds, where servers soar high,
                Your creation awaits, beneath the digital sky.
                A web of wonder, a digital domain,
                To unveil its splendor, break free from the chain.
                To host this creation, a quest to be told,
                In the realm of ?, where stories unfold.
                Find the fortress of Cloud, where dreams take flight,
                To unveil your web app in the soft moonlight.
                </p>
      </div>
    </div>
  </div>
</div>
